.sm\:hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.md\:hidden {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.max-w-xs {
  max-width: 20rem;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.md\:flex {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.md\:justify-left {
  @media screen and (min-width: 768px) {
    justify-content: left;
  }
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-4 {
  gap: 1rem;
}

.text-center {
  text-align: center;
}
.w-full {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.button,
.button2,
.button3 {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--bg-white);
  background: var(--accent);
}

@media screen and (max-width: 768px) {
  .button,
  .button2,
  .button3 {
    font-size: 0.85rem;
    padding: 0.75rem 1rem !important;
  }
}

.button:hover {
  background: var(--accent-hover);
}

.button2 {
  background: transparent;
  border: 1px solid #7a7a7a;
  color: #333;
}

.button2:hover {
  background: #ebebeb;
}

.button3 {
  background: transparent;
  border: 1px solid #333;
  color: #333;
}

.button3:hover {
  background: #333;
  color: var(--bg-white2);
}

.bg-pink {
  background: pink;
}

.highlight {
  border-bottom: 2px solid var(--accent);
}

:root {
  --bg-white: #ffffff;
  --bg-white2: #ececec;
  --accent: #3f7cfe;
  --accent-hover: #2561e4;
}

body {
  background: var(--bg-white);
  width: 100%;
  height: 100%;
}

main {
  /* background: gray; */
  color: #000;
  font-family: sans-serif;
  font-size: 1rem;
  margin: auto;
  max-width: 72rem;
  padding: 0rem 1rem;
  margin: auto;
  margin-top: 0.25rem;
}

/* Navbar */
nav {
  z-index: 50;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 72rem;
  margin: auto;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* padding: 0rem 1rem; */
}

#nav_content {
  background-color: var(--bg-white);
  /* background: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
}

#nav_content::before {
  content: "";
  width: 8px;
  height: 8px;
  background-image: radial-gradient(
    circle at 8px 8px,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 8px,
    var(--bg-white) 8px
  );
  bottom: -8px;
  left: 0rem;
  margin-left: 1rem;
  position: absolute;
}

@media screen and (min-width: 1169px) {
  #nav_content::before {
    margin-left: 0rem;
  }
}

#nav_content::after {
  content: "";
  width: 8px;
  height: 8px;
  background-image: radial-gradient(
    circle at 8px 8px,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 8px,
    var(--bg-white) 8px
  );
  bottom: -8px;
  right: 0rem;
  margin-right: 1rem;
  position: absolute;
  transform: scaleX(-1);
}

@media screen and (min-width: 1169px) {
  #nav_content::after {
    margin-right: 0rem;
  }
}

nav #logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

nav #mdnavbarcontent ul {
  display: flex;
  gap: 5px;
  padding: 0rem;
  margin-left: -1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  width: 100%;
}

nav #smnavbarcontent {
  display: none;
  z-index: 50;
  width: 100%;
  position: absolute;
  background: var(--bg-white);
  text-align: left;
  margin-top: 0px;
  padding-bottom: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

nav #smnavbarcontent div {
  padding-left: 2rem;
}

nav #smnavbarcontent ul {
  padding: 0 1.5rem;
}

/* nav #smnavbarcontent ul a li {
  margin: 0.25rem 0;
  text-decoration: none;
  list-style: none;
  border-radius: 10px;
  text-decoration: none;
} */

nav #mdnavbarcontent ul a,
nav #smnavbarcontent ul a {
  text-decoration: none;
}

nav #mdnavbarcontent ul a li,
nav #smnavbarcontent ul a li {
  padding: 0.5rem 0.75rem;
  color: #000;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  border-radius: 5px;
  list-style: none;
}

nav #mdnavbarcontent ul a li:hover,
nav #smnavbarcontent ul a li:hover {
  color: var(--accent-hover);
  background: rgb(245, 245, 245);
}

nav #menu {
  font-size: 1rem;
  width: auto;
  margin-left: auto;
}

nav #menu button {
  padding: 0.5rem;
  margin-right: 0;
  position: relative;
  z-index: 100;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 5px;
}

nav #menu button:hover {
  background: rgb(245, 245, 245);
}

nav #menu svg {
  width: 12px;
  height: 12px;
}

/* Navbar */

#hero,
#about,
#services,
#gallery,
#testimonials {
  scroll-margin-top: 3rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* Hero */

#hero {
  background: #f7fcff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero #container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  padding: 1rem 2rem;
}

#hero #container #container__content {
  gap: 5rem;
}

#hero #container #left-side {
  width: 100%;
  max-width: 45rem;
  margin: auto;
}

#hero #container #left-side h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  color: var(--accent);
}

@media screen and (max-width: 768px) {
  #hero #container #left-side h1 {
    font-size: 1.85rem;
    text-align: center;
  }
}

#hero #container #left-side #info {
  font-size: 1rem;
  margin: 1rem auto;
  background: #d3d3d3;
  padding: 0.35rem 1rem;
  width: fit-content;
  border-radius: 1rem;
  color: brown;
  background: rgb(255, 182, 182);
  text-align: center;
}

@media screen and (max-width: 768px) {
  #hero #container #left-side #info {
    font-size: 0.85rem;
  }
}

#hero #container #left-side #description {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
  #hero #container #left-side #description {
    font-size: 0.95rem;
    line-height: 1rem;
  }
}

#hero #container #left-side button {
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#hero #container #right-side img {
  margin-top: 2rem;
  width: clamp(200px, 100%, 30rem);
}

#hero #affiliated {
  padding: 2rem;
  margin: auto;
}

#hero #affiliated #companies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 20px;
}

#hero #affiliated #companies .company svg {
  width: 2.5rem;
  height: 2.5rem;
  stroke: gray !important;
}

@media screen and (max-width: 768px) {
  #hero #affiliated {
    margin: auto;
  }

  #hero #affiliated #companies {
    justify-content: center;
  }

  #hero #affiliated #companies .company svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.svgfill {
  fill: gray !important;
}

/* Hero */

#about {
  background: lightgray;
}

/* Service */

.service {
  padding: 1rem;
}

.service__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: left;
  padding: 0 1.5rem;
}

.service__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  padding: 1rem;
}

.service__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

.service__item {
  text-align: left;
  border-radius: 10px;
  padding: 1rem;
  border: #282c3400 1px solid;
}

.service__item:hover {
  border: #282c34 1px solid;
}

.service__item-icon {
  display: inline-block;
}

.service__item-icon > img {
  display: inline-block;
  width: 10%;
  margin-left: 0.25rem;
}

.service__item-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  transition: color 0.2s;
}

.service__item:hover .service__item-title {
  color: #3f7cfe; /* TODO: change color to match theme later */
}

.service__img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  .service__title {
    text-align: center;
  }

  .service__content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  .service__container {
    display: flex;
    flex-direction: column;
  }
  .service__img {
    width: 90% !important;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .service__title {
    text-align: center;
  }

  .service__content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  .service__img {
    width: 50%;
  }
  .service__item:hover {
    border: #282c3400 1px solid;
  }
  .service__item:hover .service__item-title {
    color: black; /* TODO: change color to match theme later */
  }
}
/* Testimonials */
#testimonials {
  background-color: #f5f5f5; /* Adjust background color */
  padding: 3rem; /* Adjust padding */
  margin-bottom: 120px;
}

.testimonials-container {
  position: relative;
  /* overflow: visible; */
  overflow: scroll;
  white-space: normal;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
}

.testimonials {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial {
  flex: 0 0 300px;
  min-width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border: 5px solid #001f47;
  border-radius: 20px; /* Adjust for smooth edges */
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 150px;
}
.testimonial p {
  font-weight: bold; /* Make the testimony text bold */
}

.author {
  font-style: italic; /* Make the author name italic */
  font-family: Calibri, sans-serif;
  font-weight: 300;
}
.testimonial-header {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px; /* Adjust the margin as needed */
  color: #000000; /* Adjust the color as needed */
}

/* Footer */

footer {
  background-color: #002347;
  padding: 2rem;
  text-align: center;
  color: white;
  margin-top: 140px;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: column;
}

.contact-us {
  text-align: left;
  margin-bottom: 3rem;
}

.contact-us h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.contact-us p {
  margin: 0.5rem 0;
  color: white;
}

.copyright {
  margin-top: auto;
}

.copyright p {
  font-size: 0.7rem;
  margin: 0.5rem 0;
  color: white;
}

/* Gallery */

#gallery {
  background-color: lightgray;
  padding: 1rem;
}

.gallery_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% 5%;
}

.gallery_grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 20px;
}

.gallery_text {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0 1.5rem;
  color: #000;
}

.gallery_image {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

/*Team*/
.team-white {
  background: #fff;
  padding: 70px 0;
}

.team-item {
  background: #f4f5f6;
  text-align: center;
  margin: 20px 0;
  padding: 50px 20px 40px 20px;
  border-radius: 8px 8px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.team-item:hover {
  background: #3956de;
  color: white;
}

.team-item h3 {
  margin: 20px 0 1px 0;
  color: #454545;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.team-subtitle {
  white-space: pre-line;
}

.team-item:hover h3 {
  color: #ddd;
}

.team-info {
  display: block;
  margin-bottom: 0;
}

.team-info p {
  color: #292929 ease-in-out;
  font-style: italic;
}

.team-item:hover .team-info p{
  color: #ffffff 0.25s ease-in-out;
}

.team-info::after {
  background: #008aff;
  background: -webkit-linear-gradient(135deg, #6b02ff 0%, #985bef 100%);
  background: -o-linear-gradient(bottom right, #6b02ff, #985bef);
  background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd);
  background: linear-gradient(135deg, #6b02ff 0%, #985bef 100%);
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 50px;
  height: 3px;
}

.team-img {
  max-width: 140px;
  padding: 6px 6px;
  background-color: #dedede;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.team-title {
  font-size: 32px;
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-col {
  flex: 0 0 calc(30% - 20px);
  margin: 10px;
}

.team-col-full {
  flex: 0 0 100%;
}

@media (max-width: 600px) {
  .team-col {
    flex: 0 0 100%;
    margin: 10px 0;
  }
}

/*About*/
.about-white {
  background: #fff;
  padding: 70px 0;
}

.about {
  width: 80%;
  margin: auto;
  text-align: center;
  line-height: 1.6;
}

.about-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.about-icon {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  align-self: flex-start;
}

.about-subtitle {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.about-mission {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 30px;
}

.about-title-mission{
  text-align: left;
  font-size: 30px;
  font-style: italic;
}

.about-subtitle-mission{
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
  margin-right: 20px;
}


.about-vision{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  flex-direction: row-reverse; 
}

.about-title-vision{
  text-align: left;
  font-size: 30px;
  font-style: italic;
}

.about-subtitle-vision{
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
  margin-right: 20px;
}


.about-values {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 30px;
}

.about-title-values{
  text-align: left;
  font-size: 30px;
  font-style: italic;
  margin-left: 20px;
}

.about-subtitle-values{
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
  margin-right: 20px;
}



@media screen and (max-width: 768px) {
  .about {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .about {
    width: 100%;
  }
}

.about-video-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.about-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



