.sm\:hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.md\:hidden {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.max-w-xs {
  max-width: 20rem;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.md\:flex {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.md\:justify-left {
  @media screen and (min-width: 768px) {
    justify-content: left;
  }
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-4 {
  gap: 1rem;
}

.text-center {
  text-align: center;
}
.w-full {
  width: 100%;
}
.h-auto {
  height: auto;
}
.max-w-full {
  max-width: 100%;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.md\:grid-cols-3 {
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.button,
.button2,
.button3 {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--bg-white);
  background: var(--accent);
}

@media screen and (max-width: 768px) {
  .button,
  .button2,
  .button3 {
    font-size: 0.85rem;
    padding: 0.75rem 1rem !important;
  }
}

.button:hover {
  background: var(--accent-hover);
}

.button2 {
  background: transparent;
  border: 1px solid #7a7a7a;
  color: #333;
}

.button2:hover {
  background: #ebebeb;
}

.button3 {
  background: transparent;
  border: 1px solid #333;
  color: #333;
}

.button3:hover {
  background: #333;
  color: var(--bg-white2);
}

.bg-pink {
  background: pink;
}

.highlight {
  border-bottom: 2px solid var(--accent);
}

:root {
  --bg-white: #ffffff;
  --bg-white2: #ececec;
  --accent: #3f7cfe;
  --accent-hover: #2561e4;
}

body {
  background: var(--bg-white);
  width: 100%;
  height: 100%;
}

main {
  /* background: gray; */
  color: #000;
  font-family: sans-serif;
  font-size: 1rem;
  margin: auto;
  max-width: 80rem;
  padding: 0rem 1rem;
  margin: auto;
  margin-top: 0.25rem;
}

/* Navbar */
nav {
  z-index: 50;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 80rem;
  margin: auto;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* padding: 0rem 1rem; */
}

#nav_content {
  background-color: var(--bg-white);
  /* background: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
}

#nav_content::before {
  content: "";
  width: 8px;
  height: 8px;
  background-image: radial-gradient(
    circle at 8px 8px,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 8px,
    var(--bg-white) 8px
  );
  bottom: -8px;
  left: 0rem;
  margin-left: 1rem;
  position: absolute;
}

@media screen and (min-width: 1169px) {
  #nav_content::before {
    margin-left: 0rem;
  }
}

#nav_content::after {
  content: "";
  width: 8px;
  height: 8px;
  background-image: radial-gradient(
    circle at 8px 8px,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 8px,
    var(--bg-white) 8px
  );
  bottom: -8px;
  right: 0rem;
  margin-right: 1rem;
  position: absolute;
  transform: scaleX(-1);
}

@media screen and (min-width: 1169px) {
  #nav_content::after {
    margin-right: 0rem;
  }
}

nav #logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

nav #mdnavbarcontent ul {
  display: flex;
  gap: 5px;
  padding: 0rem;
  margin-left: -1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  width: 100%;
}

nav #smnavbarcontent {
  display: none;
  z-index: 50;
  width: 100%;
  position: absolute;
  background: var(--bg-white);
  text-align: left;
  margin-top: 0px;
  padding-bottom: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

nav #smnavbarcontent div {
  padding-left: 2rem;
}

nav #smnavbarcontent ul {
  padding: 0 1.5rem;
}

/* nav #smnavbarcontent ul a li {
  margin: 0.25rem 0;
  text-decoration: none;
  list-style: none;
  border-radius: 10px;
  text-decoration: none;
} */

nav #mdnavbarcontent ul a,
nav #smnavbarcontent ul a {
  text-decoration: none;
  cursor: pointer;
}

nav #mdnavbarcontent ul a li,
nav #smnavbarcontent ul a li {
  padding: 0.5rem 0.75rem;
  color: #000;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  border-radius: 5px;
  list-style: none;
}

nav #mdnavbarcontent ul a li:hover,
nav #smnavbarcontent ul a li:hover {
  color: var(--accent-hover);
  background: rgb(245, 245, 245);
}

nav #menu {
  font-size: 1rem;
  width: auto;
  margin-left: auto;
}

nav #menu button {
  padding: 0.5rem;
  margin-right: 0;
  position: relative;
  z-index: 100;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 5px;
}

nav #menu button:hover {
  background: rgb(245, 245, 245);
}

nav #menu svg {
  width: 12px;
  height: 12px;
}

/* Navbar */

#hero,
#about,
#services,
#gallery,
#testimonials {
  scroll-margin-top: 3rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* Hero */

#hero {
  background: #f7fcff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero #container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  padding: 1rem 2rem;
}

#hero #container #container__content {
  gap: 5rem;
}

#hero #container #left-side {
  width: 100%;
  max-width: 45rem;
  margin: auto;
}

#hero #container #left-side h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  color: var(--accent);
}

@media screen and (max-width: 768px) {
  #hero #container #left-side h1 {
    font-size: 1.85rem;
    text-align: center;
  }
}

#hero #container #left-side #info {
  font-size: 1rem;
  margin: 1rem auto;
  background: #d3d3d3;
  padding: 0.35rem 1rem;
  width: fit-content;
  border-radius: 1rem;
  color: brown;
  background: rgb(255, 182, 182);
  text-align: center;
}

@media screen and (max-width: 768px) {
  #hero #container #left-side #info {
    font-size: 0.85rem;
  }
}

#hero #container #left-side #description {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
  #hero #container #left-side #description {
    font-size: 0.95rem;
    line-height: 1rem;
  }
}

#hero #container #left-side button {
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#hero #container #right-side img {
  margin-top: 2rem;
  width: clamp(200px, 100%, 30rem);
}

#hero #affiliated {
  padding: 2rem;
  margin: auto;
}

#hero #affiliated #companies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 20px;
}

#hero #affiliated #companies .company svg {
  width: 2.5rem;
  height: 2.5rem;
  stroke: gray !important;
}

@media screen and (max-width: 768px) {
  #hero #affiliated {
    margin: auto;
  }

  #hero #affiliated #companies {
    justify-content: center;
  }

  #hero #affiliated #companies .company svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.svgfill {
  fill: gray !important;
}

/* Hero */

/* Service */

.service {
  padding: 1rem;
}

.service__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: center;
  padding: 0 1.5rem;
}

.service__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 1rem;
}

.service__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 0fr;
  gap: 0;
  justify-content: center;
}

.service__item {
  text-align: left;
  border-radius: 10px;
  padding: 1rem;
  border: #282c3400 1px solid;
}

.service__item:hover {
  border: #282c34 1px solid;
}

.service__item-icon {
  display: inline-block;
}

.service__item-icon > img {
  display: inline-block;
  width: 10%;
  margin-left: 0.25rem;
}

.service__item-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  transition: color 0.2s;
}

.service__item:hover .service__item-title {
  color: #3f7cfe; /* TODO: change color to match theme later */
}

.service__img {
  width: 50%;
  object-fit: contain;
  align-items: center;
  display: flex;
  justify-content: center;
}

.service__img__container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  grid-column: 1 / span 2;
}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  .service__title {
    text-align: center;
  }

  .service__content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  .service__container {
    display: flex;
    flex-direction: column;
  }
  .service__img {
    width: 90% !important;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .service__title {
    text-align: center;
  }

  .service__content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  .service__img {
    width: 50%;
  }
  .service__item:hover {
    border: #282c3400 1px solid;
  }
  .service__item:hover .service__item-title {
    color: black; /* TODO: change color to match theme later */
  }
}

/* Testimonials */

#testimonials {
  background-color: #ffffff;
  margin-bottom: 120px;
}

.testimonial_div {
  padding-top: 2rem;
}

.testimonials-container {
  width: 100%;
  display: flex;
  flex-direction: column; /* Optional: If you want to center vertically in a column */
  align-items: center; /* Center vertically */
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.testimonials {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%; /* Use percentage to ensure responsiveness */
}

.testimonial {
  box-sizing: border-box;
  flex: 1 0 100%; /* Adjust flex basis as needed */
  background-color: #afd2ff;
  border: 2px solid #001f47;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial-text {
  text-align: center;
  font-style: italic;
  color: rgb(12, 12, 12);
  word-wrap: break-word;
  white-space: pre-line;
  max-width: 50rem;
  margin: auto;
  line-height: 1.4;
}

.author {
  font-style: italic;
  font-family: Calibri, sans-serif;
  font-weight: 300;
  margin-top: 10px;
  font-size: 1rem; /* Adjust the font size for the author's name */
  color: rgb(12, 12, 12);
}

.position {
  font-size: 0.8rem;
  color: rgb(12, 12, 12);
}

.testimonial-header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center; /* Center the name at the top */
  margin-bottom: 20px;
  color: #000000;
}

.arrows-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; /* Use percentage or rem consistently */
}

.arrow {
  font-size: 20px;
  cursor: pointer;
  color: #001f47;
  padding: 10px; /* Add padding to create space between arrows */
  margin: 0 5px; /* Add margin to create space between arrows */
}

@media (max-width: 768px) {
  .testimonials-container {
    column-gap: 10px;
    width: 100%;
  }
  .testimonial-text {
    text-align: center;
    font-style: italic;
    color: rgb(12, 12, 12);
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 14px;
    margin: 10px; /* Add margin for better spacing */
    line-height: 1.5;
  }
}

/* Footer */

.footer {
  /* background-color: #002347; */
  padding: 2rem;
  color: #282c34;
  margin-top: 140px;
  border-top: 1px solid #282c34;
}

.footer-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contact-us,
.subscribe,
.connect-with-us {
  text-align: left;
  margin-bottom: 2rem;
}

.contact-us h2,
.subscribe h2,
.connect-with-us h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #001f47;
  font-family: "Caveat";
  font-weight: 600;
}

.contact-us p,
.subscribe p,
.connect-with-us p {
  margin: 0.5rem 0;
  color: #282c34;
  font-weight: 300;
  white-space: nowrap;
}

.subscribe-input {
  display: flex;
  align-items: center;
}

.subscribe input {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #ffffff00;
  outline: none;
  border: 1px solid #dbdbdb;
  border-radius: 100px;
  width: 100%;
}

.subscribe-arrow {
  padding: 0.5rem 1rem;
  background-color: #ffffff00;
  color: #282c34;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  user-select: none;
  margin-left: -1.8rem;
  transition: all 0.2s ease-in-out;
  border-radius: 50px;
}

.subscribe-arrow:hover {
  background-color: #002347;

  color: #ffffff;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-icons a {
  color: #282c34;
  transition: all 0.2s ease-in-out;
}

.social-icons a:hover {
  color: #448be7;
}

.copyright {
  margin-top: auto;
}

.copyright p {
  font-size: 0.7rem;
  margin: 0.5rem 0;
  color: #282c34;
  font-family: "Saira condensed";
  font-weight: 300;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .copyright {
    /*margin-top: 40px; /* Adjust the top margin to reduce space */
    width: 100%;
    margin-left: -1000px;
  }
}

/* Gallery */

/* #gallery {
  background-color: #0c2d4e;
  padding: 1rem;
} */

.gallery_container {
  width: 90%;
  display: flex;
  flex-direction: column; /* Optional: If you want to center vertically in a column */
  align-items: center; /* Center vertically */
  justify-content: center;
  margin: 0 auto;
}

.gallery_heading h1 {
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  color: #ffffff;
  font-family: garamond;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.gallery_heading {
  padding-bottom: 30px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.gallery_heading h1 span {
  font-weight: 100;
  font-size: 3rem;
  color: #79aef8;
  font-family: brush script mt;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery_images {
  width: 80%;
  max-width: 50rem;
  height: fit-content;
}

.gal_img {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.gal_img img {
  width: 70%;
  height: auto;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.gal_img img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow color and size as needed */
}

.gal_container {
  column-width: 250px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-top: 20px;
  margin-bottom: 20px;
}

.gal_text {
  flex: 1;
  column-width: 10%;
  height: 50%;
  font-size: large;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.gal_text h2 {
  font-family: garamond;
  color: #79aef8;
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.gal_text p {
  color: white;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

/*mobile view*/
@media only screen and (max-width: 600px) {
  .gal_container {
    column-gap: 10px;
    width: 100%;
  }

  .gallery_heading {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
  }

  .gallery_heading h1,
  .gallery_heading h1 span {
    font-size: 30px;
  }

  .gal_text h2 {
    font-size: 18px;
  }

  .gal_text p {
    color: white;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
  }

  #gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gal_img {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .gal_img img {
    width: 100%;
    height: auto;
  }
}

/*Team*/
.team-white {
  background: #fff;
  padding: 50px 0;
}

#teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 50px;
  margin-top: 20px;
  width: 100%;
}

.team-col {
  flex: 0 0 calc(35% - 40px);
  margin: 20px 0;
}

.team-col-full {
  flex: 0 0 100%;
  background: #f7f7f8;
  padding: 40px 0px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .team-col {
    flex: 0 0 100%;
    margin: 10px 0;
  }
}

.team-item {
  background: transparent;
  border: 1px solid #cccccc;
  text-align: center;
  height: 100%;
  padding: 10px 20px;
  border-radius: 8px 8px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.team-item:hover {
  background: #2250b3;
  color: white;
}

.team-item h3 {
  margin: 20px 0 1px 0;
  color: #454545;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.team-subtitle {
  margin: auto;
  max-width: 50rem;
  font-size: 1.2rem;
  line-height: 1.4;
  color: #454545;
}

@media screen and (max-width: 768px) {
  .team-subtitle {
    font-size: 1rem;
  }
}

.team-item:hover h3 {
  color: #ddd;
}

.team-info {
  display: block;
  margin-bottom: 0;
}

.team-info p {
  color: #292929 ease-in-out;
  font-style: italic;
}

.team-item:hover .team-info p {
  color: #ffffff 0.25s ease-in-out;
}

.team-info::after {
  background: #008aff;
  background: -webkit-linear-gradient(135deg, #6b02ff 0%, #985bef 100%);
  background: -o-linear-gradient(bottom right, #6b02ff, #985bef);
  background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd);
  background: linear-gradient(135deg, #6b02ff 0%, #985bef 100%);
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 50px;
  height: 3px;
}

.team-img {
  width: 140px;
  height: 140px;
  background-color: #dedede;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.team-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.team-title {
  font-size: 32px;
  margin-top: 0px;
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*About*/
.about-white {
  border-radius: 10px;
  padding: 70px 0;
  background: #0c2d4e;
}

.about {
  width: 80%;
  margin: auto;
  text-align: center;
  line-height: 1.6;
}
#about .first {
  display: flex;
  align-items: center;
}

#about .first .about-bg {
  width: 50vw;
  max-width: 50rem;
  min-width: 25rem;
}

#about .about-items {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .about-items {
    flex-direction: column;
  }
}

#about-vision,
#about-mission,
#about-values {
  display: flex;
  flex: 0 0 40%;
  gap: 20px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

#about-vision:hover,
#about-mission:hover,
#about-values:hover {
  border: 1px solid #2561e4;
}

#about-values ul {
  padding-left: 20px;
}

#about-vision img,
#about-mission img,
#about-values img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 10px;
}

#about-title-vision,
#about-title-mission,
#about-title-values {
  color: #0045a0;
}

.description {
  color: #454545;
}

#about h3 {
  margin: 0;
}

@media screen and (max-width: 850px) {
  #about .first {
    margin-top: 5rem;
    flex-direction: column-reverse;
  }
}

.about-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.about-subtitle {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #454545;
  max-width: 50rem;
  margin: auto;
}

.about-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: #0c2d4e !important;
}

.about-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.about-title-mission {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: #79aef8;
}

.about-subtitle-mission {
  text-align: center;
  font-size: 20px;
  margin-right: 20px;
  color: white;
  font-family: garamond;
  font-weight: 600;
}

.about-vision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.about-title-vision {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: #79aef8;
}

.about-subtitle-vision {
  text-align: center;
  font-size: 20px;
  margin-right: 20px;
  color: white;
  font-family: garamond;
  font-weight: 600;
}

.about-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.about-title-values {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: #79aef8;
}

.about-subtitle-values {
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
  margin-right: 20px;
  color: white;
  font-family: garamond;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .about {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .about {
    width: 100%;
  }
}

.about-video-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 60rem;
  aspect-ratio: 16 / 9;
  height: 100%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.about-video-wrapper iframe {
  padding-bottom: 20px;
}
