.sm\:hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.md\:hidden {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-4 {
  gap: 1rem;
}

.text-center {
  text-align: center;
}

:root {
  --bg-white: #ffffff;
  --bg-white2: #ececec;
}

body {
  background: var(--bg-white);
  padding: 1rem 0rem;
}

main {
  /* background: gray; */
  color: #000;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 3.5rem 4rem;

  @media screen and (max-width: 767px) {
    padding: 1rem 1.5rem;
  }
}

/* Navbar */
nav {
  background-color: var(--bg-white);
  width: 100%;
  z-index: 50;
  top: 0;
  backdrop-filter: blur(10px);
  max-width: 100vw;
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  position: fixed;
}

nav::before {
  content: "";
  width: 8px;
  height: 8px;
  background-image: radial-gradient(
    circle at 8px 8px,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 8px,
    var(--bg-white) 8px
  );
  bottom: -8px;
  left: 1.5rem;
  position: absolute;
}

@media screen and (min-width: 768px) {
  nav::before {
    left: 4rem;
  }
}

nav::after {
  content: "";
  width: 8px;
  height: 8px;
  background-image: radial-gradient(
    circle at 8px 8px,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 8px,
    var(--bg-white) 8px
  );
  bottom: -8px;
  right: 1.5rem;
  position: absolute;
  /* flip */
  transform: scaleX(-1);
}

@media screen and (min-width: 768px) {
  nav::after {
    right: 4rem;
  }
}

nav #logo {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 4rem;

  @media screen and (max-width: 767px) {
    margin-left: 1rem;
  }
}

nav div {
  width: 100%;
}

nav #mdnavbarcontent ul {
  display: flex;
  gap: 10px;
  padding: 0rem;
  margin: 0;
  font-size: 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  width: 100%;
}

nav #menu {
  font-size: 1rem;
  width: auto;
  margin-left: auto;
  background: green;
}

nav #menu button {
  padding: 0.3rem;
  margin-right: 0;
  position: relative;
  z-index: 100;
}

nav #menu svg {
  width: 12px;
  height: 12px;
}

#smnavbarcontent {
  display: none;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: gray;
  text-align: left;
}
/* Navbar */

#hero,
#about,
#services,
#gallery {
  scroll-margin-top: 3.2rem;
}

/* Hero */

#hero {
  border-radius: 8px;
  background: var(--bg-white2);
  height: 100vh;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#hero #container {
  /* background: lightgray; */
  max-width: 56rem;
  margin: auto;
}

#hero #container div:nth-child(2) {
  text-align: center;
}

/* Hero */

#about {
  background: lightgray;
  height: 100vh;
}
.small {
  font-size: 0.75rem;
}

/* Service */

.service {
  padding: 1rem;
}

.service__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: left;
  padding: 0 1.5rem;
}

.service__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  padding: 1rem;
}

.service__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

.service__item {
  text-align: left;
  border-radius: 10px;
  padding: 1rem;
  border: #282c3400 1px solid;
}

.service__item:hover {
  border: #282c34 1px solid;
}

.service__item-icon {
  display: inline-block;
}

.service__item-icon > img {
  display: inline-block;
  width: 10%;
  margin-left: 0.25rem;
}

.service__item-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  transition: color 0.2s;
}

.service__item:hover .service__item-title {
  color: #3f7cfe; /* TODO: change color to match theme later */
}

.service__img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  .service__title {
    text-align: center;
  }

  .service__content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  .service__container {
    display: flex;
    flex-direction: column;
  }
  .service__img {
    width: 90% !important;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .service__title {
    text-align: center;
  }

  .service__content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  .service__img {
    width: 50%;
  }
  .service__item:hover {
    border: #282c3400 1px solid;
  }
  .service__item:hover .service__item-title {
    color: black; /* TODO: change color to match theme later */
  }
}
